name: Symfony API CI

permissions:
  actions: write
  contents: read

on:
  schedule:
    - cron: '0 2 * * *'  # Tous les jours à 02:00 UTC
 # push:
 #   branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.5']

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

     # 2️⃣ Delete old artifacts
      - name: Delete old workflow runs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
                # Récupère les IDs de tous les runs sauf le plus récent (le run actuel)
                # On filtre par le nom du workflow pour être précis
                run_ids=$(gh run list --workflow "Symfony API CI" --json databaseId --jq '.[1:].[] | .databaseId')

                if [ -z "$run_ids" ]; then
                  echo "Aucun ancien run à supprimer."
                else
                  for id in $run_ids; do
                    echo "Suppression du run ID: $id"
                    gh run delete "$id"
                  done
                fi


      # 2️⃣ Installer PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, pdo_mysql, xml, curl
          coverage: xdebug

      # 2. Scanner les dépendances (SCA)
      - name: Snyk Open Source Check
        uses: snyk/actions/php@master
        continue-on-error: true # Permet de voir le rapport même si ça échoue
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # 3. Scanner le code (SAST)
      - name: Snyk Code Check
        uses: snyk/actions/setup@master
      - run: snyk code test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # 3️⃣ Installer Composer
      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      # 4️⃣ Valider le composer.json
      - name: Composer validate
        run: composer validate --no-check-publish

      # 5️⃣ Vérifier le style de code
      - name: PHP-CS-Fixer dry-run
        run: ./vendor/bin/php-cs-fixer fix --dry-run --diff

      # 6️⃣ Analyse statique avec PHPStan
      - name: PHPStan analysis
        run: ./vendor/bin/phpstan analyse -l 8 src

      # 7️⃣ Lancer les tests unitaires avec PHPUnit
      - name: Run PHPUnit
        run: ./vendor/bin/phpunit --configuration phpunit.dist.xml --coverage-clover=coverage.xml

      # 8️⃣ Rector dry-run
      - name: Rector dry-run
        run: ./vendor/bin/rector process src --dry-run

