name: Symfony API CI

on:
  schedule:
    -   cron: '0 2 * * *'  # Tous les jours à 02:00 UTC
  push:
        branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.5']

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

     # 2️⃣ Delete old artifacts
      -   name: Delete old workflow runs
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              WORKFLOW_NAME: "Symfony API CI"
          run: |
              echo "Fetching runs for workflow..."
              runs=$(curl -s -H "Authorization: token $GITHUB_TOKEN" \
                https://api.github.com/repos/${GITHUB_REPOSITORY}/actions/workflows/$(gh workflow view "$WORKFLOW_NAME" --json id --jq '.id')/runs?per_page=100 \
                | jq -r '.workflow_runs[].id')

              latest=$(echo "$runs" | head -n1)

              for run in $runs; do
                if [ "$run" != "$latest" ]; then
                  echo "Deleting run $run"
                  curl -s -X DELETE -H "Authorization: token $GITHUB_TOKEN" \
                    https://api.github.com/repos/${GITHUB_REPOSITORY}/actions/runs/$run
                fi
              done



# 2️⃣ Installer PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, pdo_mysql, xml, curl
          coverage: xdebug

      # 3️⃣ Installer Composer
      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      # 4️⃣ Valider le composer.json
      - name: Composer validate
        run: composer validate --no-check-publish

      # 5️⃣ Vérifier le style de code
      - name: PHP-CS-Fixer dry-run
        run: ./vendor/bin/php-cs-fixer fix --dry-run --diff

      # 6️⃣ Analyse statique avec PHPStan
      - name: PHPStan analysis
        run: ./vendor/bin/phpstan analyse -l 8 src

      # 7️⃣ Lancer les tests unitaires avec PHPUnit
      - name: Run PHPUnit
        run: ./vendor/bin/phpunit --configuration phpunit.dist.xml --coverage-clover=coverage.xml

      # 8️⃣ Rector dry-run
      - name: Rector dry-run
        run: ./vendor/bin/rector process src --dry-run

